.section-carts {
  background-color: gainsboro;
  padding: 1rem;
}
.grid {
  display: grid;
  gap: 2rem;
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart__image {
  aspect-ratio: 3 / 4;
  border-radius: 1rem;
}
.cart__inner {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cart__category {
  font-weight: bold;
  font-size: 0.75rem;
}
.cart__title {
  font-weight: bold;
  font-size: 1.5rem;
}
.cart__description {
  flex-grow: 1;
}
.cart__row-user {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.cart__user-image {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 2rem;
}
.cart__inner-user {
}
.cart__user-name {
  font-weight: bold;
}
.cart__date-publication {
  font-size: 0.75rem;
}
